<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FriendGameRecordMapper" >
  <resultMap id="BaseResultMap" type="com.alidao.basic.entity.FriendGameRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="share_sn" property="shareSn" jdbcType="VARCHAR" />
    <result column="wxnickname" property="wxnickname" jdbcType="VARCHAR" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="max_score" property="maxScore" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, share_sn, wxnickname, head_image, openid, score, create_time, update_time, state,max_score
  </sql>
  <sql id="Basic_Conditions" >
    <![CDATA[where state = true]]>
    <if test="id != null" >
       and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="shareSn != null" >
       and share_sn = #{shareSn,jdbcType=VARCHAR}
    </if>
    <if test="wxnickname != null" >
       and wxnickname = #{wxnickname,jdbcType=VARCHAR}
    </if>
    <if test="headImage != null" >
       and head_image = #{headImage,jdbcType=VARCHAR}
    </if>
    <if test="openid != null" >
       and openid = #{openid,jdbcType=VARCHAR}
    </if>
    <if test="score != null" >
       and score = #{score,jdbcType=INTEGER}
    </if>
    <if test="maxScore != null" >
       and max_score = #{maxScore,jdbcType=INTEGER}
    </if>
    <if test="createTime != null" >
       and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
       and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="state != null" >
       and state = #{state,jdbcType=BIT}
    </if>
    <include refid="COMMON_SQL.QUERY" />
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_friend_game_record
    where id = #{id,jdbcType=VARCHAR}
    and state = true 
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.alidao.basic.entity.FriendGameRecord" >
    select 
    <include refid="Base_Column_List" />
    from t_friend_game_record
    <include refid="Basic_Conditions" />
    limit 0,1
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update t_friend_game_record  set state = false
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="delete" parameterType="com.alidao.basic.entity.FriendGameRecord" >
    update t_friend_game_record  set state = false
    <include refid="Basic_Conditions" />
  </update>
  <insert id="insert" parameterType="com.alidao.basic.entity.FriendGameRecord" >
    insert into t_friend_game_record (id, share_sn, wxnickname, 
      head_image, openid, score, 
      create_time, update_time, state,max_score
      )
    values (#{id,jdbcType=VARCHAR}, #{shareSn,jdbcType=VARCHAR}, #{wxnickname,jdbcType=VARCHAR}, 
      #{headImage,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=BIT},#{maxScore,jdbcType=INTEGER}
      )
  </insert>
  <update id="update" parameterType="com.alidao.basic.entity.FriendGameRecord" >
    update t_friend_game_record
    <set >
      <if test="shareSn != null" >
        share_sn = #{shareSn,jdbcType=VARCHAR},
      </if>
      <if test="wxnickname != null" >
        wxnickname = #{wxnickname,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        head_image = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="maxScore != null" >
        max_score = #{maxScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryForCount" resultType="java.lang.Long" parameterType="java.util.Map" >
    select count(*) from t_friend_game_record
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
  </select>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from 
    t_friend_game_record
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
    <include refid="COMMON_SQL.LIMIT" />
  </select>
</mapper>