<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GameRecordMapper" >
  <resultMap id="BaseResultMap" type="com.alidao.basic.entity.GameRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="game_id" property="gameId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_image" property="userImage" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="share_sn" property="shareSn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="friend_score" property="friendScore" jdbcType="INTEGER" />
    <result column="friend_count" property="friendCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, game_id, user_id, user_account, user_name, user_image, score, share_sn, create_time, 
    update_time, state, friend_score,friend_count
  </sql>
  <sql id="Basic_Conditions" >
    <![CDATA[where state = true]]>
    <if test="id != null" >
       and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="gameId != null" >
       and game_id = #{gameId,jdbcType=VARCHAR}
    </if>
    <if test="userId != null" >
       and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="userAccount != null" >
       and user_account = #{userAccount,jdbcType=VARCHAR}
    </if>
    <if test="userName != null" >
       and user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="userImage != null" >
       and user_image = #{userImage,jdbcType=VARCHAR}
    </if>
    <if test="score != null" >
       and score = #{score,jdbcType=INTEGER}
    </if>
    <if test="shareSn != null" >
       and share_sn = #{shareSn,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
       and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
       and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="state != null" >
       and state = #{state,jdbcType=BIT}
    </if>
    <if test="friendScore != null" >
       and friend_score = #{friendScore,jdbcType=INTEGER}
    </if>
    <if test="friendCount != null" >
       and friend_count = #{friendCount,jdbcType=INTEGER}
    </if>
    <include refid="COMMON_SQL.QUERY" />
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_game_record
    where id = #{id,jdbcType=VARCHAR}
    and state = true 
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.alidao.basic.entity.GameRecord" >
    select 
    <include refid="Base_Column_List" />
    from t_game_record
    <include refid="Basic_Conditions" />
    limit 0,1
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update t_game_record  set state = false
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="delete" parameterType="com.alidao.basic.entity.GameRecord" >
    update t_game_record  set state = false
    <include refid="Basic_Conditions" />
  </update>
  <insert id="insert" parameterType="com.alidao.basic.entity.GameRecord" >
    insert into t_game_record (id, game_id, user_id, 
      user_account, user_name, user_image, 
      score, share_sn, create_time, 
      update_time, state, friend_score,friend_count
      )
    values (#{id,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{userAccount,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userImage,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{shareSn,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=BIT}, #{friendScore,jdbcType=INTEGER}
      , #{friendCount,jdbcType=INTEGER}
      )
  </insert>
  <update id="update" parameterType="com.alidao.basic.entity.GameRecord" >
    update t_game_record
    <set >
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null" >
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="shareSn != null" >
        share_sn = #{shareSn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="friendScore != null" >
        friend_score = #{friendScore,jdbcType=INTEGER},
      </if>
      <if test="friendCount != null" >
        friend_count = #{friendCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryForCount" resultType="java.lang.Long" parameterType="java.util.Map" >
    select count(*) from t_game_record
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
  </select>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from 
    t_game_record
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
    <include refid="COMMON_SQL.LIMIT" />
  </select>
</mapper>