<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SalerMapper" >
  <resultMap id="BaseResultMap" type="com.alidao.users.entity.Saler" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="credentials_type" property="credentialsType" jdbcType="VARCHAR" />
    <result column="credentials_code" property="credentialsCode" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="user_count" property="userCount" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, status, mobile, username, password, realname, credentials_type, credentials_code, 
    avatar, email, address, intro, user_count, create_user, create_time, update_user, 
    update_time, state
  </sql>
  <sql id="Basic_Conditions" >
    <![CDATA[where state = true]]>
    <if test="id != null" >
       and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="userId != null" >
       and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
       and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="mobile != null" >
       and mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="username != null" >
       and username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="password != null" >
       and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="realname != null" >
       and realname = #{realname,jdbcType=VARCHAR}
    </if>
    <if test="credentialsType != null" >
       and credentials_type = #{credentialsType,jdbcType=VARCHAR}
    </if>
    <if test="credentialsCode != null" >
       and credentials_code = #{credentialsCode,jdbcType=VARCHAR}
    </if>
    <if test="avatar != null" >
       and avatar = #{avatar,jdbcType=VARCHAR}
    </if>
    <if test="email != null" >
       and email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="address != null" >
       and address = #{address,jdbcType=VARCHAR}
    </if>
    <if test="intro != null" >
       and intro = #{intro,jdbcType=VARCHAR}
    </if>
    <if test="userCount != null" >
       and user_count = #{userCount,jdbcType=INTEGER}
    </if>
    <if test="createUser != null" >
       and create_user = #{createUser,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
       and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateUser != null" >
       and update_user = #{updateUser,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
       and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="state != null" >
       and state = #{state,jdbcType=BIT}
    </if>
    <include refid="COMMON_SQL.QUERY" />
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_saler
    where id = #{id,jdbcType=VARCHAR}
    and state = true 
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.alidao.users.entity.Saler" >
    select 
    <include refid="Base_Column_List" />
    from t_saler
    <include refid="Basic_Conditions" />
    limit 0,1
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update t_saler  set state = false
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="delete" parameterType="com.alidao.users.entity.Saler" >
    update t_saler  set state = false
    <include refid="Basic_Conditions" />
  </update>
  <insert id="insert" parameterType="com.alidao.users.entity.Saler" >
    insert into t_saler (id, user_id, status, 
      mobile, username, password, 
      realname, credentials_type, credentials_code, 
      avatar, email, address, 
      intro, user_count, create_user, 
      create_time, update_user, update_time, 
      state)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{credentialsType,jdbcType=VARCHAR}, #{credentialsCode,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{userCount,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=BIT})
  </insert>
  <update id="update" parameterType="com.alidao.users.entity.Saler" >
    update t_saler
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="credentialsType != null" >
        credentials_type = #{credentialsType,jdbcType=VARCHAR},
      </if>
      <if test="credentialsCode != null" >
        credentials_code = #{credentialsCode,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null" >
        user_count = #{userCount,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryForCount" resultType="java.lang.Long" parameterType="java.util.Map" >
    select count(1) from t_saler
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
  </select>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from 
    t_saler
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
    <include refid="COMMON_SQL.LIMIT" />
  </select>
  
   <update id="modifyCounts" parameterType="com.alidao.users.entity.Saler" >
    update t_saler
    <set>
      <if test="userCount != null" >
        user_count = user_count + #{userCount,jdbcType=INTEGER},
      </if>
     </set>
     where id = #{id,jdbcType=VARCHAR}
    </update>
     
</mapper>