 @charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;font-family: 'Microsoft yahei';}
a{text-decoration: none; color:#fff;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.bankcard{ width:100%;height:100%;background-color:#f6f6f6; color:#fff;-webkit-font-smoothing:antialiased;}
.bankcard .cardBg{position:absolute;top:0%;left:4%;margin-top:4%;width:92%;z-index:1;overflow:hidden;border-radius:8px 8px;-webkit-border-radius:8px 8px;-moz-border-radius:8px 8px;-o-border-radius:8px 8px;-ms-border-radius:8px 8px;}
.bankcard .cardBg img{width:100%;height:auto;}
.bankcard .card{position:absolute;top:0;left:4%; margin-top:17px;width:92%;z-index:2}

.bankcard .CCBbg{ background:url(../images/bankcard/CCB_bg.png) center no-repeat; background-size:100% 100%;}
.bankcard .CEBbg{ background:url(../images/bankcard/CEB_BG.png) center no-repeat; background-size:100% 100%;}
.bankcard .CGBbg{ background:url(../images/bankcard/CGB_bg.png) center no-repeat; background-size:100% 100%;}
.bankcard .CITICbg{ background:url(../images/bankcard/CITIC_bg.png) center no-repeat; background-size:100% 100%;}
.bankcard .CMBbg{ background:url(../images/bankcard/CMB_bg.png) center no-repeat; background-size:100% 100%;}
.bankcard .CMBCbg{ background:url(../images/bankcard/CMBC_bg.png) center no-repeat; background-size:100% 100%;}
.bankcard .ICBCbg{ background:url(../images/bankcard/ICBC_bg.png) center no-repeat; background-size:100% 100%;}
.bankcard .pinganbg{ background:url(../images/bankcard/pingan_bg.png) center no-repeat; background-size:100% 100%;}

.bankcard .card .bankname{ font-family: 'Heiti';float:left;font-size:20px;width:60%;line-height:150%;  margin:5%  4%;}
.bankcard .card .bankname .bank{ float:left;margin-right:9px; height:28px; width:28px; display:block;}
.bankcard .card .bankname .CCBpic{background:url(../images/bankcard/CCB.png) left no-repeat;background-size:auto 28px;}
.bankcard .card .bankname .CEBpic{background:url(../images/bankcard/CEB.png) left no-repeat;background-size:auto 28px;}
.bankcard .card .bankname .CGBpic{background:url(../images/bankcard/CGB.png) left no-repeat;background-size:auto 28px;}
.bankcard .card .bankname .CITICpic{background:url(../images/bankcard/CITIC.png) left no-repeat;background-size:auto 28px;}
.bankcard .card .bankname .CMBpic{background:url(../images/bankcard/CMB.png) left no-repeat;background-size:auto 28px;}
.bankcard .card .bankname .CMBCpic{background:url(../images/bankcard/CMBC.png) left no-repeat;background-size:auto 28px;}
.bankcard .card .bankname .ICBCpic{background:url(../images/bankcard/ICBC.png) left no-repeat;background-size:auto 28px;}
.bankcard .card .bankname .pinganpic{background:url(../images/bankcard/pingan.png) left no-repeat;background-size:auto 28px;}

.bankcard .card .tips{ float:right;width:40px; height:40px; margin:3% 2.4%;background:url(../images/bankcard/zhuyi.png) center center no-repeat;background-size:50% 50%;display:block;}
.bankcard .card .numb{clear:both;margin:0 auto;width:90%;font-size:24px;line-height:40px;text-align:center;}
.bankcard .card .numb span{font-size:28px;}
.bankcard .card .jiebang{float:right;margin-right:4%;width:15%;line-height:30px;display:block;font-size:15px;text-align:center;border:#fff 1px solid; border-radius:3px 3px;-webkit-border-radius:3px 3px;-moz-border-radius:3px 3px;-o-border-radius:3px 3px;-ms-border-radius:3px 3px;}


.bankcard .tips{color:#999; font-size:17px; text-align:center;}
.bankcard .addbutton{font-size:17px; line-height:49px;background-color:#ef4023; height:49px; width:100%; display:block; text-align:center; position:fixed; bottom:0px;}

@media screen and (max-width:320px) {
	.bankcard .card .jiebang{ margin-top:10px;font-size: 13px;line-height:24px; }
}
@media screen and (min-width:321px) and (max-width:375px) {
	.bankcard .card .numb{font-size:26px;line-height:50px}
	.bankcard .card .jiebang{ margin-top:12px;font-size: 14px;line-height:28px; }
}
@media screen and (min-width:376px) {
	.bankcard .card .numb{font-size:28px;line-height:60px;}
	.bankcard .card .jiebang{ margin-top:14px;font-size: 15px;line-height:30px; }
}