.hand { cursor: pointer; }
.line { border-top: 1px solid #ccc; }
.show { display: block; }
.hide { display: none; }
.clear { clear: both; }
.align-left { float: left; }
.align-right { float: right; }
.rbox { border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; }
.radius3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.radius5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; }
.w5 { width: 5px; }
.w10 { width: 10px; }
.w15 { width: 15px; }
.w20 { width: 20px; }
.w25 { width: 25px; }
.w30 { width: 30px; }
.w35 { width: 35px; }
.w40 { width: 40px; }
.w45 { width: 45px; }
.w50 { width: 50px; }
.w55 { width: 55px; }
.w60 { width: 60px; }
.w65 { width: 65px; }
.w70 { width: 70px; }
.w75 { width: 75px; }
.w80 { width: 80px; }
.w85 { width: 85px; }
.w90 { width: 90px; }
.w95 { width: 95px; }
.w100 { width: 100px; }
.w105 { width: 105px; }
.w110 { width: 110px; }
.w115 { width: 115px; }
.w120 { width: 120px; }
.w125 { width: 125px; }
.w130 { width: 130px; }
.w135 { width: 135px; }
.w140 { width: 140px; }
.w145 { width: 145px; }
.w150 { width: 150px; }
.w155 { width: 155px; }
.w160 { width: 160px; }
.w165 { width: 165px; }
.w170 { width: 170px; }
.w175 { width: 175px; }
.w180 { width: 180px; }
.w185 { width: 185px; }
.w190 { width: 190px; }
.w195 { width: 195px; }
.w200 { width: 200px; }
.w205 { width: 205px; }
.w210 { width: 210px; }
.w215 { width: 215px; }
.w220 { width: 220px; }
.w225 { width: 225px; }
.w230 { width: 230px; }
.w235 { width: 235px; }
.w240 { width: 240px; }
.w245 { width: 245px; }
.w250 { width: 250px; }
.w255 { width: 255px; }
.w260 { width: 260px; }
.w265 { width: 265px; }
.w270 { width: 270px; }
.w275 { width: 275px; }
.w280 { width: 280px; }
.w285 { width: 285px; }
.w290 { width: 290px; }
.w295 { width: 295px; }
.w300 { width: 300px; }
.w305 { width: 305px; }
.w310 { width: 310px; }
.w315 { width: 315px; }
.w320 { width: 320px; }
.w325 { width: 325px; }
.w330 { width: 330px; }
.w335 { width: 335px; }
.w340 { width: 340px; }
.w345 { width: 345px; }
.w350 { width: 350px; }
.w355 { width: 355px; }
.w360 { width: 360px; }
.w365 { width: 365px; }
.w370 { width: 370px; }
.w375 { width: 375px; }
.w380 { width: 380px; }
.w385 { width: 385px; }
.w390 { width: 390px; }
.w395 { width: 395px; }
.w400 { width: 400px; }
.w405 { width: 405px; }
.w410 { width: 410px; }
.w415 { width: 415px; }
.w420 { width: 420px; }
.w425 { width: 425px; }
.w430 { width: 430px; }
.w435 { width: 435px; }
.w440 { width: 440px; }
.w445 { width: 445px; }
.w450 { width: 450px; }
.w455 { width: 455px; }
.w460 { width: 460px; }
.w465 { width: 465px; }
.w470 { width: 470px; }
.w475 { width: 475px; }
.w480 { width: 480px; }
.w485 { width: 485px; }
.w490 { width: 490px; }
.w495 { width: 495px; }
.w500 { width: 500px; }
.w1p { width: 1%; }
.w2p { width: 2%; }
.w3p { width: 3%; }
.w4p { width: 4%; }
.w5p { width: 5%; }
.w6p { width: 6%; }
.w7p { width: 7%; }
.w8p { width: 8%; }
.w9p { width: 9%; }
.w10p { width: 10%; }
.w11p { width: 11%; }
.w12p { width: 12%; }
.w13p { width: 13%; }
.w14p { width: 14%; }
.w15p { width: 15%; }
.w16p { width: 16%; }
.w17p { width: 17%; }
.w18p { width: 18%; }
.w19p { width: 19%; }
.w20p { width: 20%; }
.w21p { width: 21%; }
.w22p { width: 22%; }
.w23p { width: 23%; }
.w24p { width: 24%; }
.w25p { width: 25%; }
.w26p { width: 26%; }
.w27p { width: 27%; }
.w28p { width: 28%; }
.w29p { width: 29%; }
.w30p { width: 30%; }
.w31p { width: 31%; }
.w32p { width: 32%; }
.w33p { width: 33%; }
.w34p { width: 34%; }
.w35p { width: 35%; }
.w36p { width: 36%; }
.w37p { width: 37%; }
.w38p { width: 38%; }
.w39p { width: 39%; }
.w40p { width: 40%; }
.w41p { width: 41%; }
.w42p { width: 42%; }
.w43p { width: 43%; }
.w44p { width: 44%; }
.w45p { width: 45%; }
.w46p { width: 46%; }
.w47p { width: 47%; }
.w48p { width: 48%; }
.w49p { width: 49%; }
.w50p { width: 50%; }
.w51p { width: 51%; }
.w52p { width: 52%; }
.w53p { width: 53%; }
.w54p { width: 54%; }
.w55p { width: 55%; }
.w56p { width: 56%; }
.w57p { width: 57%; }
.w58p { width: 58%; }
.w59p { width: 59%; }
.w60p { width: 60%; }
.w61p { width: 61%; }
.w62p { width: 62%; }
.w63p { width: 63%; }
.w64p { width: 64%; }
.w65p { width: 65%; }
.w66p { width: 66%; }
.w67p { width: 67%; }
.w68p { width: 68%; }
.w69p { width: 69%; }
.w70p { width: 70%; }
.w71p { width: 71%; }
.w72p { width: 72%; }
.w73p { width: 73%; }
.w74p { width: 74%; }
.w75p { width: 75%; }
.w76p { width: 76%; }
.w77p { width: 77%; }
.w78p { width: 78%; }
.w79p { width: 79%; }
.w80p { width: 80%; }
.w81p { width: 81%; }
.w82p { width: 82%; }
.w83p { width: 83%; }
.w84p { width: 84%; }
.w85p { width: 85%; }
.w86p { width: 86%; }
.w87p { width: 87%; }
.w88p { width: 88%; }
.w89p { width: 89%; }
.w90p { width: 90%; }
.w91p { width: 91%; }
.w92p { width: 92%; }
.w93p { width: 93%; }
.w94p { width: 94%; }
.w95p { width: 95%; }
.w96p { width: 96%; }
.w97p { width: 97%; }
.w98p { width: 98%; }
.w99p { width: 99%; }
.w100p { width: 100%; }
.h1 { height: 1px; }
.h2 { height: 2px; }
.h3 { height: 3px; }
.h4 { height: 4px; }
.h5 { height: 5px; }
.h6 { height: 6px; }
.h7 { height: 7px; }
.h8 { height: 8px; }
.h9 { height: 9px; }
.h10 { height: 10px; }
.h11 { height: 11px; }
.h12 { height: 12px; }
.h13 { height: 13px; }
.h14 { height: 14px; }
.h15 { height: 15px; }
.h16 { height: 16px; }
.h17 { height: 17px; }
.h18 { height: 18px; }
.h19 { height: 19px; }
.h20 { height: 20px; }
.h21 { height: 21px; }
.h22 { height: 22px; }
.h23 { height: 23px; }
.h24 { height: 24px; }
.h25 { height: 25px; }
.h26 { height: 26px; }
.h27 { height: 27px; }
.h28 { height: 28px; }
.h29 { height: 29px; }
.h30 { height: 30px; }
.h31 { height: 31px; }
.h32 { height: 32px; }
.h33 { height: 33px; }
.h34 { height: 34px; }
.h35 { height: 35px; }
.h36 { height: 36px; }
.h37 { height: 37px; }
.h38 { height: 38px; }
.h39 { height: 39px; }
.h40 { height: 40px; }
.h41 { height: 41px; }
.h42 { height: 42px; }
.h43 { height: 43px; }
.h44 { height: 44px; }
.h45 { height: 45px; }
.h46 { height: 46px; }
.h47 { height: 47px; }
.h48 { height: 48px; }
.h49 { height: 49px; }
.h50 { height: 50px; }
.h51 { height: 51px; }
.h52 { height: 52px; }
.h53 { height: 53px; }
.h54 { height: 54px; }
.h55 { height: 55px; }
.h56 { height: 56px; }
.h57 { height: 57px; }
.h58 { height: 58px; }
.h59 { height: 59px; }
.h60 { height: 60px; }
.h61 { height: 61px; }
.h62 { height: 62px; }
.h63 { height: 63px; }
.h64 { height: 64px; }
.h65 { height: 65px; }
.h66 { height: 66px; }
.h67 { height: 67px; }
.h68 { height: 68px; }
.h69 { height: 69px; }
.h70 { height: 70px; }
.h71 { height: 71px; }
.h72 { height: 72px; }
.h73 { height: 73px; }
.h74 { height: 74px; }
.h75 { height: 75px; }
.h76 { height: 76px; }
.h77 { height: 77px; }
.h78 { height: 78px; }
.h79 { height: 79px; }
.h80 { height: 80px; }
.h81 { height: 81px; }
.h82 { height: 82px; }
.h83 { height: 83px; }
.h84 { height: 84px; }
.h85 { height: 85px; }
.h86 { height: 86px; }
.h87 { height: 87px; }
.h88 { height: 88px; }
.h89 { height: 89px; }
.h90 { height: 90px; }
.h91 { height: 91px; }
.h92 { height: 92px; }
.h93 { height: 93px; }
.h94 { height: 94px; }
.h95 { height: 95px; }
.h96 { height: 96px; }
.h97 { height: 97px; }
.h98 { height: 98px; }
.h99 { height: 99px; }
.h100 { height: 100px; }
.h101 { height: 101px; }
.h102 { height: 102px; }
.h103 { height: 103px; }
.h104 { height: 104px; }
.h105 { height: 105px; }
.h106 { height: 106px; }
.h107 { height: 107px; }
.h108 { height: 108px; }
.h109 { height: 109px; }
.h110 { height: 110px; }
.h111 { height: 111px; }
.h112 { height: 112px; }
.h113 { height: 113px; }
.h114 { height: 114px; }
.h115 { height: 115px; }
.h116 { height: 116px; }
.h117 { height: 117px; }
.h118 { height: 118px; }
.h119 { height: 119px; }
.h120 { height: 120px; }
.h121 { height: 121px; }
.h122 { height: 122px; }
.h123 { height: 123px; }
.h124 { height: 124px; }
.h125 { height: 125px; }
.h126 { height: 126px; }
.h127 { height: 127px; }
.h128 { height: 128px; }
.h129 { height: 129px; }
.h130 { height: 130px; }
.h131 { height: 131px; }
.h132 { height: 132px; }
.h133 { height: 133px; }
.h134 { height: 134px; }
.h135 { height: 135px; }
.h136 { height: 136px; }
.h137 { height: 137px; }
.h138 { height: 138px; }
.h139 { height: 139px; }
.h140 { height: 140px; }
.h141 { height: 141px; }
.h142 { height: 142px; }
.h143 { height: 143px; }
.h144 { height: 144px; }
.h145 { height: 145px; }
.h146 { height: 146px; }
.h147 { height: 147px; }
.h148 { height: 148px; }
.h149 { height: 149px; }
.h150 { height: 150px; }
.h151 { height: 151px; }
.h152 { height: 152px; }
.h153 { height: 153px; }
.h154 { height: 154px; }
.h155 { height: 155px; }
.h156 { height: 156px; }
.h157 { height: 157px; }
.h158 { height: 158px; }
.h159 { height: 159px; }
.h160 { height: 160px; }
.h161 { height: 161px; }
.h162 { height: 162px; }
.h163 { height: 163px; }
.h164 { height: 164px; }
.h165 { height: 165px; }
.h166 { height: 166px; }
.h167 { height: 167px; }
.h168 { height: 168px; }
.h169 { height: 169px; }
.h170 { height: 170px; }
.h171 { height: 171px; }
.h172 { height: 172px; }
.h173 { height: 173px; }
.h174 { height: 174px; }
.h175 { height: 175px; }
.h176 { height: 176px; }
.h177 { height: 177px; }
.h178 { height: 178px; }
.h179 { height: 179px; }
.h180 { height: 180px; }
.h181 { height: 181px; }
.h182 { height: 182px; }
.h183 { height: 183px; }
.h184 { height: 184px; }
.h185 { height: 185px; }
.h186 { height: 186px; }
.h187 { height: 187px; }
.h188 { height: 188px; }
.h189 { height: 189px; }
.h190 { height: 190px; }
.h191 { height: 191px; }
.h192 { height: 192px; }
.h193 { height: 193px; }
.h194 { height: 194px; }
.h195 { height: 195px; }
.h196 { height: 196px; }
.h197 { height: 197px; }
.h198 { height: 198px; }
.h199 { height: 199px; }
.h200 { height: 200px; }
.ml1 { margin-left: 1px; }
.ml2 { margin-left: 2px; }
.ml3 { margin-left: 3px; }
.ml4 { margin-left: 4px; }
.ml5 { margin-left: 5px; }
.ml6 { margin-left: 6px; }
.ml7 { margin-left: 7px; }
.ml8 { margin-left: 8px; }
.ml9 { margin-left: 9px; }
.ml10 { margin-left: 10px; }
.mr1 { margin-right: 1px; }
.mr2 { margin-right: 2px; }
.mr3 { margin-right: 3px; }
.mr4 { margin-right: 4px; }
.mr5 { margin-right: 5px; }
.mr6 { margin-right: 6px; }
.mr7 { margin-right: 7px; }
.mr8 { margin-right: 8px; }
.mr9 { margin-right: 9px; }
.mr10 { margin-right: 10px; }
.mt1 { margin-top: 1px; }
.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt4 { margin-top: 4px; }
.mt5 { margin-top: 5px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt8 { margin-top: 8x; }
.mt9 { margin-top: 9px; }
.mt10 { margin-top: 10px; }
.mb1 { margin-bottom: 1px; }
.mb2 { margin-bottom: 2px; }
.mb3 { margin-bottom: 3px; }
.mb4 { margin-bottom: 4px; }
.mb5 { margin-bottom: 5px; }
.mb6 { margin-bottom: 6px; }
.mb7 { margin-bottom: 7px; }
.mb8 { margin-bottom: 8px; }
.mb9 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.red { color: #ff3b30; }/*�����״̬*/
.blue { color: #00478b; }/*����״̬*/
.gray { color: #8e8e8e; }/*��δ����ġ�δ��ʼ״̬*/
.orange { color: #ff9500; }/*���󡢾��桢δ����״̬*/
.grayish { color: #ccc; }/*�ѽ����ѹر�״̬*/
.green { color: #19bd9b; }/*�����С����ͨ��״̬*/
.light { color: #919daa; }
.blueBg { background: #00478b; border-bottom: 3px #013a70 solid; color: #fff; }
.redBg { background: #ed5565; border-bottom: 3px #da4453 solid; color: #fff; }
.grayBg { background: #e2e6eb; border-bottom: 3px #d4d9de solid; color: #8e8e8e; }
.grayBg:hover { color: #666; }
.orangeBg { background: #fc6e51; border-bottom: 3px #e9573d solid; color: #fff; }
.orangeBg:hover { color: #c13214; }
.yellowBg { background: #ffce54; border-bottom: 3px #f6bb42 solid; color: #fff; }
.yellowBg:hover { color: #ffc83f; }
.greenBg { background: #a0d468; border-bottom: 3px #81b449 solid; color: #fff; }
.greenBg:hover { color: #8ec652; }

.bold { font-weight: bold; font-size: 16px }
.radius3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.radius5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; }
/*�ײ�*/





.footer { width: 100%; margin: 0px auto; position: fixed; bottom: 0px; left: 0px; line-height: 100px; text-align: center; }
.footer span { width: 1004px; margin: 0px auto; color: #fff; padding: 0px; }
/*��ҳ������ʽ*/




.pageCode { width: 100%; text-align: right; height: 35px; line-height: 18px; margin-top: 10px; }
.pageCode .padeInfo { float: left; width: 30%; text-align: left; line-height: 35px; }
.pageCode .padeOperate { float: right; width: 70%; }
.pageCode a { display: inline-block; background: #f6f8fa; color: #83898f; margin-left: 6px; border-bottom: 3px #e4e7eb solid; padding: 5px 8px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.pageCode a:hover { color: #434a54; background: #e4e7ea; border-bottom: 3px #d0d4d8 solid; }
.pageCode input { width: 30px; border: 3px #e4e7ea solid; padding: 0px 2px; margin: 0px; }
/*��ť ��ʽ*/


/*非弹窗按钮时*/

.pBtn { width: 26%; margin: 10px 0px 16px 104px; overflow: hidden; clear: both;  }
.pBtn2 { width: 140px; margin: 20px 0px 20px 300px; overflow: hidden; }
.pBtn2 a { width: 100%; height: 35px; display: block; text-align: center; line-height: 35px; font-size: 14px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.pBtn a { width: 40%; height: 35px; display: block; float: left; margin-right: 10%; text-align: center; line-height: 35px; font-size: 14px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
/*弹窗两个或三个按钮时*/

.popBtn, .popBtn1 { width: 60%; margin: 0px auto; padding: 15px 0px 0px 0px; display: block; overflow: hidden; }
.popBtn a { width: 40%; height: 35px; display: block; float: left; margin-left: 5%; margin-right: 5%; text-align: center; line-height: 35px; font-size: 14px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.popBtn1 a { width: 29%; height: 35px; display: block; float: left; margin-left: 4%; text-align: center; line-height: 35px; font-size: 14px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
/*弹窗一个按钮时*/


.popBtn2 { width: 30%; padding: 15px 0px; display: block; overflow: hidden; }
.popBtn2 a { width: 60%; }
.popBtn2 a, .popBtn3 a { height: 35px; display: block; float: left; text-align: center; line-height: 35px; font-size: 14px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.popBtn3 { width: 30%; margin: 0px auto; padding: 15px 0px 0px 0px; display: block; overflow: hidden; }
.popBtn3 a { width: 100%; }
/*详情修改*/

#content-lhg .item1 { position: relative; display: block; overflow: hidden; font-size: 13px; margin-bottom: 6px; }
#content-lhg .item1 .fir { position: absolute; left: 0px; top: 0px; }
#content-lhg .item1 .ipt { padding-left: 80px; line-height: 24px; }
#content-lhg .item1 .ipt p { width: 340px; height: 30px; line-height: 30px; font-size: 12px; margin: 0px; padding: 0px; margin-bottom: 6px; }
#content-lhg .item1 .ipt p a { width: 100%; height: 30px; color: #8e8e8e; background: #f6f6f6; display: block; padding-left: 40px; overflow: hidden; border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; -webkit-border-radius: 5px; }
#content-lhg .item1 .ipt p a strong { font-size: 13px; }
#content-lhg .item1 .ipt p a span { float: right; padding-right: 10px; font-weight: bold; }
#content-lhg .item1 .ipt p a.file { background: url(../images/pic_file.png) 8px center no-repeat #f6f6f6; }
#content-lhg .item1 .ipt p a.picFile { background: url(../images/pic_gallery.png) 6px center no-repeat #f6f6f6; }
#content-lhg .item1 .ipt p a.videoFile { background: url(../images/pic_video.png) 6px center no-repeat #f6f6f6; }
#content-lhg .item1 .ipt p a.audioFile { background: url(../images/pic_music.png) 6px center no-repeat #f6f6f6; }
input, select, textarea { font-size: 12px; line-height: 20px; height: 20px; color: #83898f; font-family: "微软雅黑"; }
input[type="text"], input[type="password"], textarea { /*border-color: #CECECE #d7d7d7 #d7d7d7 #CECECE; border-style: solid; border-width: 1px;*/ border: none; height: 34px; line-height: 34px; padding: 2px 2px; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
/*input[type="checkbox"] { background: none; border: none; box-shadow: none; }*/

input[type=checkbox], input[type=radio] { box-shadow: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; border: 2px #b7bbc2 solid; width: 16px; height: 16px; margin: 0; cursor: pointer; vertical-align: middle; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -o-border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; }
input[type=checkbox]:active, input[type=radio]:active { border-color: #c6c6c6; background: #ebebeb; }
input[type=checkbox]:hover { border-color: #c6c6c6; -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1); box-shadow: inset 0 2px 2px rgba(0,0,0,0.1); }
input[type=checkbox]:checked, input[type=radio]:checked { background: #fff; }
input[type=checkbox]:checked::after { content: url(../images/checkmark.png); display: block; position: absolute; top: -5px; right: 0px; left: -5px }
input[type=checkbox]:focus { outline: none; border-color: #4d90fe; }
/*编辑内容*/
.editPage {  overflow: hidden; }
.editPage p { margin-left:20px;}
.editPage p input { border: 2px #e3e4e8 solid; height: 22px; line-height: 22px; }
.editPage p { line-height: 30px; height: 30px; padding: 7px 0px; overflow: hidden; }
.editPage p span { float: left; width: 80px; }
.editPage .show { padding-top: 15px;margin-left:20px; }
.editPage .show span { float: left; width: 80px; }
.editPage .showPic img { margin-right: 8px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; border:1px #d7d7d7 dashed;}
.editPage .showPic p { text-indent: 0px;margin-top:8px; }
.editPage .showPic p span { color: #a6aaae; }
.editPage .showPic a { padding: 6px 26px; margin-left: 60px;  display: inline; }
.editPage p i { font-style: normal; padding-left: 12px; line-height: 30px; font-style:normal; color:#EF0307 }
.editPage em { width: 160px; background: url(../images/bg_select.png) right center no-repeat; }
.editPage h3{ width:100%; height:30px; line-height:30px; margin:10px 0px; text-indent:10px; font-size:14px; color:#83898f; background:#eee; display:block; font-weight:normal;}
