*{margin:0;padding:0;}
a{text-decoration:none;-webkit-tap-highlight-color: rgba(0,0,0,0);/*点击无高亮边框*/}
li{list-style:none;-webkit-tap-highlight-color: rgba(0,0,0,0);/*点击无高亮边框*/}
.borderR10{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;}
.borderR5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;}
.wp0{width:0;}
.wp20{width:20%}
.wp40{width:40%}
.wp60{width:60%}
.wp80{width:80%}
.wp100{width:100%}

/*测评首页*/
.login{ width:96%; color:#fff; margin:20px auto 10px auto; text-align:center; display:block; height:44px; line-height:44px;  border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.redBg{background: #ff6147}
.evalue{margin-top:25%;text-align:center;}
.evalue h3{padding-bottom:10px;font-size:20px;color:#333;line-height:30px;}
.evalue_type{padding-top:37%;padding-bottom:5%;width:100%;height:30px;background:url(../images/icon_purse.png) center top no-repeat;background-size:50% auto;line-height:30px;font-size:20px;color:#975d29}
.text{line-height:44px;font-size:18px;}
.grey{color:#999}
.orange{color:#feab1a}
.time{font-size:14px;}

/*测评结束页*/
.evalue_finish{margin-top:10%;text-align:center;}
.evalue_scroe{position:relative;padding-top:40%;padding-bottom:15%;background:url(../images/icon_result.png) center top no-repeat;background-size:60% auto;color:#fff;font-size:16px;}
.score{position:absolute;top:30%;left:0;width:100%;text-align:center;color:#ffd028;font-size:50px;display:block;font-weight:bolder;font-family:"SimHei"}
.result_type{margin-bottom:30px;padding:15px 0;font-size:26px;color:#d30000;background:url(../images/icon_resultText.png) center center no-repeat;background-size:155px auto;transform:rotate(-18deg);-webkit-transform:rotate(-18deg)}
.tips{margin:0 auto;width:94%;display:block;line-height:150%;font-size:14px;color:#666;text-align:left;}

/*测评内容*/
.explain{padding:10px 12px;font-size:12px;color:#666;line-height:160%;border-bottom:1px dashed #ccc}
.explain span{float:left;margin-top:-4px;margin-right:4px;width:20px;height:20px;display:block;background:url(../images/icon_tip.png) center center no-repeat;background-size:20px auto;}
article{position:relative;padding:0 10px;line-height:40px}
article h3{font-size:14px;color:#333;}
article h3 span{margin-left:4%;color:#ff4400;line-height:40px}

.progress{position:absolute;top:14px;left:35%;width:60%;height:10px;border:1px solid #ff4400;background:#eee;z-index:10;}
.progress span{position:absolute;top:0;left:0;background:#f40;height:10px;}

.content{margin-bottom:74px}
.content h2{font-size:15px;text-align:center;background:#fdfaea;color:#f40;line-height:40px;font-weight:normal;}
.question{margin:10px auto 0px auto;width:94%;border:1px solid #ccc;text-indent:10px;overflow:hidden;}
.question h4{padding:10px;font-size:15px;line-height:20px;background:#fff;border-bottom:1px solid #ccc}
.question li {position:relative;padding:10px;font-size:14px;line-height:20px;border-bottom:1px solid #d7d7d7;background:#f8f8f8;}
.question li:last-child{border-bottom:none;}
.question li p{text-indent:25px}
.question li span{position:absolute;top:10px;left:10px;width:20px;height:20px;display:block;background:url(../images/icon_unradio.png) center center no-repeat;background-size:15px auto;}
.question .active span{background:url(../images/icon_radio.png) center center no-repeat;background-size:15px auto;}
footer{position:fixed;bottom:0;left:0;width:100%;background:#fff;}
