@charset "utf-8";
/* CSS Document */













body, article, section, h1, h2, h3, h4, h5, hgroup, p, a, ul, li, em, div, small, span, footer, canvas, figure, figcaption, input { margin: 0; padding: 0; }
a { color: #333; cursor: pointer; text-decoration: none; }
ul, li { list-style-type: none; }
.mb10 { margin-bottom: 10px; }
[placeholder] { font-family: 'Microsoft yahei'; font-size: 16px; }
::-moz-placeholder {color: #d7d7d7; font-size:16px; opacity: 1!important;}
:-ms-input-placeholder {font-size:16px; color: #d7d7d7;}
::-webkit-input-placeholder { font-size:16px; color: #d7d7d7;}
body { background: #f8f8f8; width: 100%; height: auto; min-height: 400px; font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin: 0; overflow-x: hidden; padding: 0; color: #333; }
.redBg{ background:#ff6147; }
.greenBg{ background:#ff6147;  }
.orangeBg { background: #ffce54;}

.error{color:red;text-align:center;line-height:30px}

.clr { clear: both; overflow:hidden;zoom:1}

.mb10 { margin-bottom: 10px; }

.orange{
	color:#ea6644;
}
/*header*/
header { margin: 0px; padding: 0px; position:relative;  background:#403b37;  color:#fff; font-size: 17px; height: 49px; line-height: 49px; padding: 0; text-align: center; width: 100%; z-index: 3; }
header a { display: block; height: 49px; left: 10px; position: absolute; top: 0; width: 49px; color: #fff; }
header .back { background: url(../images/icon_arrow.png) scroll left center no-repeat; background-size: 12px auto; line-height: 49px; text-indent: 4px; width: 60px; font-size: 15px; }


footer { position: fixed; bottom: 0px; left: 0px; width: 100%; text-align: center; font-size: 14px; }


/*积分回购list*/
.lists{background:#fff}
.lists ul{padding:0 10px}
.lists ul li{padding:10px 0;width:100%;display:block;overflow:hidden;zoom: 1;border-bottom:1px solid #e4e4e4;}
.lists ul li a{display:block;overflow:hidden;zoom: 1;}
.lists ul li .img{float:left;width:70px;height:70px;}
.lists ul li .img img{width:70px;height:70px;}
.lists ul li .text{margin:0 3.3%;float:left;width:70%;border:none;}
.overTxt{overflow:hidden;display:block;text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;-moz-text-overflow:ellipsis;white-space: nowrap;}
.lists ul li .text .title{width:100%;font-size:16px;color:#1e1e1e;display:block;line-height:24px}
.lists ul li .text .detail{width:100%;display:block;font-size:14px;color:#666;line-height:23px}
.lists ul li .text .cont{width:100%;display:block;overflow:hidden;zoom: 1;line-height:22px}
.lists ul li .text .cont .fen{font-size:16px;font-weight:bold;color:#f60;}
.lists ul li .text .cont .sum{float:right;font-size:13px;color:#999;}

/*积分回购list*/


/*礼品详情*/
.banner{display:inline-block;width:100%;height:auto;}
.head .evaluate{padding:0 10px; background-color:#fff;margin:0;margin-top:-4px;}
.head .evaluate div h4{width:80%; font-size:15px; float:left; line-height:18px; color:#333;}
.head .evaluate div span{ font-size:13px; float:right; line-height:120%;}
.head .evaluate div h5{ font-size:13px; line-height:120%;font-weight:normal; color:#666;float:left;}
.head .evaluate .time{padding:10px 0;}
.head .evaluate .detail{padding:10px 0 5px 0;}
.intruce{ width:100%; overflow:hidden; padding-bottom:60px;}
.intruce .container{ margin-top:10px; background:#fff; border-top:1px #dadada solid;}
.intruce .container > h4{ width:100%; height:30px; line-height:220%; text-indent:10px; color:#333; font-size:15px; font-weight:normal; border-bottom:1px #eeeeee solid; }

.intruce .container .info{outline:0 !important; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.intruce .container .info p{overflow:hidden;outline:0 !important; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.intruce .container .info .down{ background-image: url(../images/icon_down.png);background-repeat: no-repeat;background-position: center center; background-size:20px auto;margin-top:10px; padding:0 0 15px 0;text-align:center;display:inline-block;width:100%; outline:0 !important; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.intruce .container .info .up{background-image: url(../images/icon_up.png);background-repeat: no-repeat;background-position: center center;  background-size:20px auto;}
.intruce .container .info p,.intruce .container .evaluate p{font-size:14px; color:#666666; line-height:160%;}
.intruce .container .info ,.intruce .container .state { padding:10px 10px;padding-bottom: 5px; }

.intruce .container .state{ padding:10px 10px;font-size:14px;color:#666666;line-height:160%;}
.intruce .container .state ul li{font-size:14px; color:#666666;line-height:22px;}

.intruce .container .user{ padding-top:10px; width:100%; position:relative; overflow:hidden; height:75px;display:block;}
.intruce .container .user .arrow{background-image: url(../images/icon_arrow.png); background-repeat: no-repeat;background-position: center center;background-size:20px auto; position:absolute; display:inline-block;text-align:center;width:20px;height:20px;top:32px;right: 10px;}

.ease-in-out {-moz-transition: height 0.5s ease-in-out ;-webkit-transition: height 0.5s ease-in-out ;-o-transition: height 0.5s ease-in-out ;transition: height 0.5s ease-in-out ;}

.intruce .container .user .photo{ top:15px; position:absolute; left:15px; width:80px; height:60px;}
.intruce .container .user .photo img{width:80px; height:60px;}
.intruce .container .user h5{ text-indent:100px; font-weight:normal; line-height: 180%;font-size:15px;}
.intruce .container .user p{ padding-left:100px; font-size:13px; color:#8e8e8e;}

/*duihuan_detail*/
.intruce .container .code{height:32px;padding:0 10px;}
.intruce .container .code div h4{  font-size:14px; line-height:240%;color:#333;float:left; font-weight: normal; }
.intruce .container .code div span{ float:right;font-size:13px;line-height: 240%;}

.changBtn{width:100%;display:block;height:44px;background:#fff;}
.changBtn a{margin:4px auto;width:92%;display:block;line-height:36px;font-size:14px;color:#fff;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;}



/*提交订单*/
.count{margin:10px 0;width:100%;font-size:15px;}
.count li{padding:10px 4% 10px 4%;height:30px;display:block;overflow:hidden;zoom: 1;line-height:30px;background:#fff;}
.count li span{float:right;}
.count li:nth-child(3){margin-top:10px;}
.count li:nth-child(3) input{margin:0 auto;width:100%;height:30px;line-height:normal;display:block;border:none;}
.address{font-size:15px;}
.address p{padding:0 10px;line-height:30px}
.address input{margin-left:4%;width:92%;height:30px;border:none;line-height:normal;}
.address .detail{padding:10px 0;width:100%;background:#fff}

.detailMsg{padding:10px;background:#fff;font-size:15px;color:#1e1e1e;}
.detailMsg .name{margin-right:20px;line-height:26px;}
.detailMsg .address{margin-top:4px;line-height:20px;color:#999;}




