@charset "utf-8";
/* CSS Document */













body, article, section, h1, h2, h3, h4, h5, hgroup, p, a, ul, li, em, div, small, span, footer, canvas, figure, figcaption, input { margin: 0; padding: 0; }
a { color: #333; cursor: pointer; text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0); }
ul, li { list-style-type: none; }
.mb10 { margin-bottom: 10px; }
[placeholder] { font-family: 'Microsoft yahei'; font-size: 16px; }
::-moz-placeholder {color: #d7d7d7; font-size:16px; opacity: 1!important;}
:-ms-input-placeholder {font-size:16px; color: #d7d7d7;}
::-webkit-input-placeholder { font-size:16px; color: #d7d7d7;}
body { background: #f8f8f8; width: 100%; height: auto; min-height: 400px; font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin: 0; overflow-x: hidden; padding: 0; color: #333; }
.redBg{ background:#ff6147; }
.greenBg{ background:#ff6147;  }

.orangeBg { background: #ffce54;}

.borderR50p{border-radius:50% 50%;-webkit-border-radius:50% 50%;-moz-border-radius:50% 50%;-o-border-radius:50% 50%;-ms-border-radius:50% 50%;}
.error{color:red;text-align:center;line-height:30px}
/*header*/
header { margin: 0px; padding: 0px; position:relative;  background:#403b37;  color:#fff; font-size: 17px; height: 49px; line-height: 49px; padding: 0; text-align: center; width: 100%; z-index: 3; }
header a { display: block; height: 49px; left: 10px; position: absolute; top: 0; width: 49px; color: #fff; }
header .back { background: url(../images/icon_arrow.png) scroll left center no-repeat; background-size: 12px auto; line-height: 49px; text-indent: 4px; width: 60px; font-size: 15px; }

/*登录注册*/
section .text{ border-bottom:1px #d7d7d7 solid; border-top:1px #d7d7d7 solid; background:#fff; margin-top:20px;}
section .text li{ height:44px; line-height:44px; border-bottom:1px #d7d7d7 solid; padding-left:10px; padding-right:10px; position:relative; font-size:16px;}
section .text li:last-child{ border-bottom:none}
section .text li span { color: #000; padding-right: 10px; position: absolute; left: 10px; top: 0px; height: 43px; line-height: 45px; }
section .text li  span:first-child { background: #ffffff; }
section .text li  input { height: 42px; line-height: 43px; width: 100%; text-indent: 80px; border: none; font-size: 15px; background: none; font-family: "黑体"; color: #333; text-align:right; }
section .login{ width:96%; color:#fff; margin:20px auto 10px auto; text-align:center; display:block; height:44px; line-height:44px;  border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
section .reg{ float:right; margin-right:2%; font-size:14px; color:#007aff;}

/*老用户注册*/
section .text li.code a.send{ position:absolute; top:0px; right:0px; width:140px; font-size:14px; background:#ff9500; text-align:center; color:#fff;}
section .text li.code a.gain{ position:absolute; top:0px; right:0px; width:140px; font-size:14px; background:#ccc; text-align:center; color:#8e8e8e;}
section .text li.code input { text-indent:0px; text-align:left; }
section .text li .con{ position:static; padding-left:0px; padding-right:0px; left:0px; color:#333; text-align:right; float:right;}

/*完善资料*/
section .text li.select{ padding-right:0px;}
section .text li.select a{ width:100%; height:44px; display:block; background:url(../images/icon_more.png) center right no-repeat; background-size:44px auto;}

/*注册成功*/
.suc{ background:url(../images/icon_suc.png) center 40px no-repeat; background-size:60px; width:100%; padding-top:110px;} 
.suc h3{ font-size:20px; text-align:center; width:100%; font-weight:normal; color:#19bd9b; padding-bottom:10px;}
.suc p{ line-height:24px; padding-left:10px; padding-right:10px; font-size:14px; padding-bottom:10px;}

/*关于我们*/
.about article{ padding:10px; padding-bottom:60px;}
.about article h3{ font-size:18px; font-weight:600; padding-bottom:10px;}
.about article p{ font-size:14px; color:#333; line-height:22px; padding-bottom:10px; height:auto;}
.top{ width:50px; height:50px; display:block; overflow:hidden; position:fixed; bottom:20px; right:10px; background:url(../images/icon_top.png) center center no-repeat; background-size:50px auto;}
.top a{ width:50px; height:50px; display:block; overflow:hidden; border-radius:50px; -moz-border-radius:50px; -ms-border-radius:50px; -o-border-radius:50px; -webkit-border-radius:50px;}
footer { position: fixed; bottom: 0px; left: 0px; width: 100%; text-align: center; font-size: 14px;z-index:5555; }
footer.bottom,footer.menu{ background:#fff; height:49px; line-height:49px; border-top:1px #d7d7d7 solid;}
footer.bottom ul li,footer.menu ul li{ width:50%; float:left; }
footer.bottom ul li a,footer.menu ul li a{ font-size:17px; width:99%; border-right:1px #d7d7d7 solid; display:block; height:49px; line-height:49px;}
footer.bottom ul li:last-child a{ border-right:0px;}
footer.bottom ul li a.forward{ background:url(../images/icon_forward.png) 20% center no-repeat; background-size:24px auto; text-indent:34px;}
footer.bottom ul li a.share{ background:url(../images/icon_share.png) 13% center no-repeat; background-size:24px auto; text-indent:34px;}
/*产品*/
footer.menu{ background:#f9f9f9;border-top:1px #b2b2b2 solid;}
footer.menu ul li a{ font-size:12px; color:#8e8e8e; line-height:12px; padding-top:32px; border-right:0px;}
footer.menu ul li a.product{ background:url(../images/icon_many.png) center 5px no-repeat; background-size:24px; }
footer.menu ul li a.productSel{ background:url(../images/icon_manySel.png) center 5px no-repeat; background-size:24px; color:#ef4023; }
footer.menu ul li a.account{ background:url(../images/icon_user.png) center 5px no-repeat; background-size:24px; }
footer.menu ul li a.accountSel{ background:url(../images/icon_userSel.png) center 5px no-repeat; background-size:24px; color:#ef4023; }

.productList{ padding-bottom:60px; }
.productList .list{ /*margin:15px;*/ padding:0px 15px; min-height:80px; background:#fff;  border-bottom:1px #d7d7d7 solid; position:relative; display:block; overflow:hidden;}
.productList .list a{ width:100%;padding-bottom:15px; padding-top:15px; display:block; overflow:hidden;}
.productList .list .img{ position:absolute; left:15px; top:15px;width:80px;height:80px;}
.productList .list .img img{ width:80px; height:80px;}
.productList .list .img p{ background:rgba(0,0,0,0.50) ; width:100%; height:22px; line-height:22px; display:block; font-size:12px; color:#fff; text-align:center; position:absolute; bottom:0px; margin:0px; padding:0px;white-space:nowrap;text-overflow: ellipsis;overflow:hidden; }

.productList .list .introduce{ /*float:left;*/ padding-left:90px;}
.productList .list .introduce h4{ font-weight:normal;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
.productList .list .introduce .texts{ font-size:12px; padding-right:10px; color:#8e8e8e; background:url(../images/icon_more.png) right center no-repeat; background-size:24px auto; height:46px; overflow:hidden;}
.productList .list .introduce .progress { width:100%; overflow:hidden; margin-bottom:2px; margin-top:2px;}
.productList .list .introduce .progress .scale{ float:right;  color:#ef4023; text-align:right; font-style:normal; font-size:10px;}
.productList .list .introduce .progress span ,.productList .list .introduce .progress span i{height:4px; display:block; border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px; -webkit-border-radius:12px;}
.productList .list .introduce .progress span{ margin-top:4px;  background:#d7d7d7; width:72%;}
.productList .list .introduce .progress span i{background:#ff4400; }

/*产品详情*/

.details h3{font-size:17px; color:#fff; background:#ef4023; line-height:24px; padding:15px 15px; font-weight:normal;}
.list01,.list02{ /*width:100%; */ padding:10px; background:#fff; overflow:hidden;border-bottom:1px #d7d7d7 solid;}
.list02{padding-top:0;}
.list01 .left,.list01 .right{ width:49%;}

.list01 .left{ float:left;min-height:38px;border-bottom:1px #d7d7d7 solid;padding:6px 0;display:block;}

.list01 .right{ float:right;}
.list01 .left span,.list01 .right span,.list02 span{ font-size:12px; color:#8e8e8e; line-height:12px; width:100%; overflow:hidden; display:block; padding-bottom:6px;}
.list01 .left h4,.list01 .right h4{ font-weight:normal;font-size:15px;color:#666;width:100%; display:block; }
.list01 .left h4 em, .list01 .right h4 em{ font-style:normal; font-size:12px; padding-left:2px;}
.list01 .left h4.colorRed,.list01 .right h4.colorRed{ color:#ef4023; }
.list02 .progress { width:100%; overflow:hidden; margin-bottom:2px; margin-top:2px;}
.list02 .progress .scale{ float:right; color:#ef4023; text-align:right; font-style:normal; font-size:10px;}
.list02 .progress span{margin-top:4px}
.list02 .progress span ,.list02 .progress span i{height:8px; padding:0px; display:block; border-radius:14px; -moz-border-radius:14px; -ms-border-radius:14px; -o-border-radius:14px; -webkit-border-radius:14px;}
.list02 .progress span{  background:#d7d7d7; width:80%; }
.list02 .progress span i{background:#ff4400; }
.list02 span em.colorRed{font-style:normal; color:#ef4023;}

.list02 .invest .amount,.list02 .invest .code{ width:100%; display:block; margin-bottom:10px;  border:1px #d7d7d7 solid; height:35px; line-height:35px; position:relative; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.list02 .invest .amount input{ text-align:center; width:80%;  display:block;margin:0px auto; height:35px;  border:none; background:none;}
.list02 .invest .amount .minus{ position:absolute; left:-1px; top:-1px; width:50px; line-height:37px; height:37px; display:block; background:url(../images/icon_minus.png) center center no-repeat #ef4023; background-size:35px auto;border-top-left-radius:4px; -moz-order-top-left-radius:4px; -ms-order-top-left-radius:4px; -o-order-top-left-radius:4px; -webkit-order-top-left-radius:4px;border-bottom-left-radius:4px; -moz-order-bottom-left-radius:4px; -ms-order-bottom-left-radius:4px; -o-order-bottom-left-radius:4px; -webkit-order-bottom-left-radius:4px;}
.list02 .invest .amount .add{ position:absolute; right:-1px; top:-1px; width:50px; line-height:37px; height:37px; display:block; background:url(../images/icon_add.png) center center no-repeat #ef4023; background-size:35px auto;border-top-right-radius:4px; -moz-order-top-right-radius:4px; -ms-order-top-right-radius:4px; -o-order-top-right-radius:4px; -webkit-order-top-right-radius:4px;border-bottom-right-radius:4px; -moz-order-bottom-right-radius:4px; -ms-order-bottom-right-radius:4px; -o-order-bottom-right-radius:4px; -webkit-order-bottom-right-radius:4px;}
.list02 .invest .code input{width:60%;  display:block; height:35px; text-indent:4px;  border:none; background:none; }
.list02 .invest .code .investBtn01{ position:absolute; right:-1px; top:-1px; width:120px; text-align:center; color:#fff; font-size:17px; line-height:37px; height:37px; display:block; background: #ef4023; border-top-right-radius:4px; -moz-order-top-right-radius:4px; -ms-order-top-right-radius:4px; -o-order-top-right-radius:4px; -webkit-order-top-right-radius:4px;border-bottom-right-radius:4px; -moz-order-bottom-right-radius:4px; -ms-order-bottom-right-radius:4px; -o-order-bottom-right-radius:4px; -webkit-order-bottom-right-radius:4px;}
.list02 .invest .investBtn02,.contract a{ width:100%;text-align:center; color:#fff; font-size:17px; line-height:37px; height:37px; display:block;background:#ef4023; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.introduce{  overflow:hidden; background:#fff;}
.introduce li{ float:left; width:50%; height:30px;background:#f0f0f0; line-height:30px;height:30px; margin-bottom:10px; color:#888; font-size:15px; border-top:3px #d7d7d7 solid; text-align:center; cursor:pointer; }
.introduce li.select,.introduce li:hover{background:none; font-weight:bold; color:#ef4023;border-top:3px solid #ef4023;}
.introduce .content{ padding:10px; font-size:14px; color:#666;}


/*电子合同*/
.contracts p{ height:44px; line-height:44px;  border-bottom:1px #d7d7d7 solid; padding:0px 15px; font-size:17px; background:#fff; margin-bottom:10px; overflow:hidden;}
.contracts p span{ font-size:18px; color:#ef4023;}
.contracts p a{ float:right; color:#19bd9b; width:60px; display:block; height:44px; font-size:14px;}
.contract{margin-top:10px;}
.contract a{background:#ffce54 url(../images/icon_moreW.png) 98% center no-repeat;background-size:17px auto ;}
/* .contract{margin-top:-10px;padding-bottom:10px;width:100%;display:block; font-size: 12px;line-height: 30px;background:#fff;} */
/* .contract a{text-indent:15px;width:100%;display:block;border:1px solid #d7d7d7;border-left:none;border-right:none;color: #8e8e8e;background:url(../images/icon_more.png) right center no-repeat;background-size:44px 44px; } */
/*账户*/
.user .my{ background:rgba(24,24,29,0.9); width:100%; position:relative; border-bottom:1px #e0371b solid;}
.user .my a{ width:100%; height:75px; display:block; overflow:hidden; background:url(../images/icon_moreW.png) 98% center no-repeat; background-size:17px auto; }
.user .my img{ width:45px; height:45px; position:absolute; left:15px; top:15px; border-radius:45px; -moz-border-radius:45px; -ms-border-radius:45px; -o-border-radius:45px; -webkit-border-radius:45px;}
.user .my h3{ padding-left:70px; padding-top:15px; line-height:24px; font-size:17px; color:#fff; font-weight:normal;}
.user .my p{ padding-left:70px; line-height:24px; color:#fff; font-size:14px;}
.yields,.asset{background:#ff6147; padding:0px 15px; color:#fff;}
.yields p ,.asset p{ padding:10px 0px 0px 0px; font-size:14px;}
.yields p span{ float:right; font-size:12px;}
.yields h2{ padding:20px 0px; font-size:45px; font-weight:500;}
.yields h2 span,.asset h3 span{ font-size:15px; padding-left:5px;}
.asset{ background:#fff; color:#ef4023; border-bottom:1px #d7d7d7 solid; overflow:hidden;}
.asset p{ color:#8e8e8e;}
.asset h3{ font-size:30px; font-weight:500; padding:15px 0px;}
.link { overflow:hidden;}
.link ul li{ height:44px; line-height:44px; width:33.3333%; text-align:center; float:left; background:url(../images/bg_line.png) right repeat-y #fff; background-size:1px auto; border-bottom:1px #d7d7d7 solid;}
.link ul li:last-child{ background:#fff;}
.link ul li a{width:100%;display:block;}
.listLink ul{ border-top:1px #d7d7d7 solid; margin-bottom:60px; margin-top:0px;}
.listLink ul li{ width:100%; height:44px; line-height:44px; background:url(../images/icon_more.png) right center no-repeat #fff; background-size:44px; border-bottom:1px #d7d7d7 solid;}
.listLink ul li a {width:100%; text-indent:4px; font-size:17px;display:block;}
/*我的金币*/
.gold{ background:#fff;}
.gold .num,.vouchers .num{  padding:0px 15px; background:#ff6147;}
.gold .num h3,.gold .desc h3,.vouchers .num h3{width:88%; color:#fff; font-size:17px;text-indent:24px; font-weight:normal; line-height:20px; padding:10px 0px; }
.gold .num h3 span,.vouchers .num h3 span{ float:right;}
.gold .num h3 span em,.vouchers .num h3 span em{ font-size:12px; font-style:normal;}
.gold .num p,.gold .desc p,.vouchers .num p{ font-size:12px; color:rgba(255,255,255,0.66); padding-bottom:10px;}
.gold .desc{border-bottom:1px #d7d7d7 solid; padding:0px 15px; }
.gold .desc h3{ color:#ef4023; font-size:15px; line-height:18px;display:block;}
.gold .desc p{ color:#8e8e8e; }
.gold .desc h3 span{position:absolute;right:10px;}