*{margin:0;padding:0;}
body{position:relative;}
@media screen and (max-width:320px){
	.bg{height:528px}
}
@media screen and (min-width:321px) and (max-width:375px){
	.bg{height:628px}
}
@media screen and (min-width:376px){
	.bg{height:696px}
}
.bg{position:fixed;top:0;left:0;width:100%;background-image:url(../images/_body.png);background-repeat:no-repeat;background-size:100% 100%;z-index:1;}
.contain{position:absolute;top:0;left:0;width:100%;min-height:100px;z-index:99;}
a{text-decoration:none;-webkit-tap-highlight-color: rgba(0,0,0,0);/*点击无高亮边框*/}
li{list-style:none;-webkit-tap-highlight-color: rgba(0,0,0,0);/*点击无高亮边框*/}
.borderR10{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;}
.borderR5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;}
.wp0{width:0;}
.wp20{width:20%}
.wp40{width:40%}
.wp60{width:60%}
.wp80{width:80%}
.wp100{width:100%}

/*测评内容*/
.explain{padding:10px 12px;font-size:13px;color:#666;line-height:160%;border-bottom:1px dashed #ccc}
.explain span{float:left;margin-top:-4px;margin-right:4px;width:20px;height:20px;display:block;background:url(../images/icon_tip.png) center center no-repeat;background-size:20px auto;}
article{position:relative;padding:0 10px;line-height:40px}
article h3{font-size:14px;color:#333;}
article h3 span{margin-left:4%;color:#ff4400;line-height:40px}

/*.content{margin-bottom:74px}*/
.content h2{font-size:15px;text-align:center;background:#fdfaea;color:#f40;line-height:40px;font-weight:normal;}
.question{margin:10px auto 0px auto;width:94%;text-indent:10px;overflow:hidden;}
.question h4{font-size:15px;line-height:20px;}
.question li {position:relative;font-size:14px;line-height:20px;}
.question li:last-child{border-bottom:none;}
.question li p{padding:10px;text-indent:25px;}
.question li span{position:absolute;top:10px;left:10px;width:20px;height:20px;display:block;background:url(../images/icon_unradio.png) center center no-repeat;background-size:15px auto;}
.question .active span{background:url(../images/icon_radio.png) center center no-repeat;background-size:15px auto;}
footer{padding-bottom:30px;width:100%;}
.login{ width:90%; color:#fff; margin:20px auto 10px auto; text-align:center; display:block; height:44px; line-height:44px;  border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.redBg{background: #ff6147}


.contain  .finish{text-align:center;line-height:40px;font-size:20px;font-weight:bold;}
.contain  .finish:nth-child(1){margin-top:100px}
