<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserForWxUnionMapper" >
  <resultMap id="BaseResultMap" type="com.alidao.wxapi.bean.UserForWxUnion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="subscribe" property="subscribe" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="subscribe_time" property="subscribe_time" jdbcType="BIGINT" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, subscribe, nickname, sex, language, city, province, country, headimgurl, 
    subscribe_time, unionid, create_user, create_time, update_user, update_time, state
  </sql>
  <sql id="Basic_Conditions" >
    <![CDATA[where state = true]]>
    <if test="id != null" >
       and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="openid != null" >
       and openid = #{openid,jdbcType=VARCHAR}
    </if>
    <if test="subscribe != null" >
       and subscribe = #{subscribe,jdbcType=INTEGER}
    </if>
    <if test="nickname != null" >
       and nickname = #{nickname,jdbcType=VARCHAR}
    </if>
    <if test="sex != null" >
       and sex = #{sex,jdbcType=INTEGER}
    </if>
    <if test="language != null" >
       and language = #{language,jdbcType=VARCHAR}
    </if>
    <if test="city != null" >
       and city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="province != null" >
       and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="country != null" >
       and country = #{country,jdbcType=VARCHAR}
    </if>
    <if test="headimgurl != null" >
       and headimgurl = #{headimgurl,jdbcType=VARCHAR}
    </if>
    <if test="subscribe_time != null" >
       and subscribe_time = #{subscribe_time,jdbcType=BIGINT}
    </if>
    <if test="unionid != null" >
       and unionid = #{unionid,jdbcType=VARCHAR}
    </if>
    <if test="createUser != null" >
       and create_user = #{createUser,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
       and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateUser != null" >
       and update_user = #{updateUser,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
       and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="state != null" >
       and state = #{state,jdbcType=BIT}
    </if>
    <include refid="COMMON_SQL.QUERY" />
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_wxapi_union
    where id = #{id,jdbcType=BIGINT}
    and state = true 
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.alidao.wxapi.bean.UserForWxUnion" >
    select 
    <include refid="Base_Column_List" />
    from t_wxapi_union
    <include refid="Basic_Conditions" />
    limit 0,1
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update t_wxapi_union  set state = false
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="delete" parameterType="com.alidao.wxapi.bean.UserForWxUnion" >
    update t_wxapi_union  set state = false
    <include refid="Basic_Conditions" />
  </update>
  <insert id="insert" parameterType="com.alidao.wxapi.bean.UserForWxUnion" >
    insert into t_wxapi_union (id, openid, subscribe, 
      nickname, sex, language, 
      city, province, country, 
      headimgurl, subscribe_time, unionid, 
      create_user, create_time, update_user, 
      update_time, state)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{subscribe,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{headimgurl,jdbcType=VARCHAR}, #{subscribe_time,jdbcType=BIGINT}, #{unionid,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=BIT})
    <selectKey keyProperty="id" resultType="java.lang.Long">
        select last_insert_id()
    </selectKey>
  </insert>
  <update id="update" parameterType="com.alidao.wxapi.bean.UserForWxUnion" >
    update t_wxapi_union
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        subscribe = #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribe_time != null" >
        subscribe_time = #{subscribe_time,jdbcType=BIGINT},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryForCount" resultType="java.lang.Long" parameterType="java.util.Map" >
    select count(*) from t_wxapi_union
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
  </select>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from 
    t_wxapi_union
    <include refid="Basic_Conditions" />
    <include refid="COMMON_SQL.FUZZY" />
    <include refid="COMMON_SQL.LIMIT" />
  </select>
</mapper>