<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<!-- 投资状态变化 -->
	<bean id="investServiceJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="userInvestServiceImpl"></property>
		<property name="targetMethod" value="sset"></property>
	</bean>
	<bean id="investServiceJobCron" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="investServiceJob" />
		<property name="cronExpression" value="0 0/15 * * * ?" /> <!-- 每隔15分钟执行 -->
	</bean>
	<!-- 订单自动失效 -->
	<bean id="orderServiceJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="orderServiceImpl"></property>
		<property name="targetMethod" value="closeDaily"></property>
	</bean>
	<bean id="orderServiceJobCron" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderServiceJob" />
		<property name="cronExpression" value="0 0 17 * * ?" /> <!-- 每天下午5执行 -->
	</bean>
	
	<!-- 订单支付超时 -->
	<bean id="orderTimeoutJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="orderServiceImpl"></property>
		<property name="targetMethod" value="closeQuart"></property>
	</bean>
	<bean id="orderTimeoutJobCron" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderTimeoutJob" />
		<property name="cronExpression" value="0 0/15 * * * ?" />
	</bean>
	
	<!-- 调度器 -->
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
		<property name="triggers">
			<list>
				<ref bean="orderServiceJobCron" />
				<ref bean="investServiceJobCron" />
				<ref bean="orderTimeoutJobCron" />
			</list>
		</property>
	</bean>
	
</beans>